a.album-card {
  padding: 0.6rem;
  background: var(--main-bg-black);
  border-radius: 1.2rem;
  text-decoration: none;
  color: var(--main-white);
}
a.album-card:hover {
    background: var(--main-dark);
}

.album-card div {
    margin: 0.4rem;
    background-color: initial;
}

.album-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background-color: var(--main-white);
  border-radius: 0.6rem;
}
