*{
  --main-bg-black: #0f0f0f;
  --main-dark: #303030;
  --main-gray: #b0b0b0;
  --main-white: white;
  --main-active: aquamarine;
  font-size: 16px;
  background-color: var(--main-bg-black);
  color: var(--main-white);
}

.footer {
  padding: 1rem;
  text-align: center;
}
.footer, .footer a {
  font-size: 12px;
  color: var(--main-gray);
}
.footer a:hover {
  color: var(--main-white);
}